body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  opacity: 0.8;
}
.card:hover {
  opacity: 1.2;
  border: 2px solid black;
}

body {
  background: url('https://images5.alphacoders.com/665/665368.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  height: 18rem;
}
