*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    background-color: grey;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.score{
    width: 50rem;
    margin-top:3rem ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#game{
    margin-left: 7.5rem;
    margin-top: 50px;
    display: inline-grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(3, 2fr);
    border: 5px solid white;
    border-radius: 5px;
    height: 575px;
    width: 575px;
    background-color: gray;
    box-shadow: 10px 10px;
    }


.cell{

    display: flex;
    text-align: center;
    background-color: white;
    border: 1px solid black;
    font-size: 3rem;
}

#clear{
    margin-top: 2rem;
    width: 5rem;
    height: 2rem;
}